@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');

:root {
    --primary-color : #302E6F;
    /* --primary-color : #001F45; */
    --dark-gray: #6B7280;
    --off-white:#F3F4F6;
}

body {
   font-family:'Montserrat',sans-serif;
   margin:0px;
}

.container {
    padding: 0rem 1rem;
}

.container-center{

    /* text-align: center; */
    max-width:600px;
    margin:auto;
}

.list-non-bullet {
    list-style:none;
   
}

.list-item-inline {
    display: inline;
    padding: 0rem 0.5rem;
}

.link{
    text-decoration: none;
    box-sizing: border-box;
    padding:0.5rem 1rem;
}

.link-primary {

    background-color: var(--primary-color);
    color: white;
    border-radius: 0.5rem;
}

.link-secondary{
    color: var(--primary-color);
    border-radius: 0.5rem;
    border:1px solid var(--primary-color);
}

.navigation {
   
    background-color: var(--primary-color);
    color: white;
    /* text-decoration: none; */
    padding:1rem;
    border-bottom-left-radius:1rem;
   
}

.navigation .nav-name {
    
    font-weight:bold;
    font-size:1.1rem;
}

.navigation .nav-sub {
    text-align:right;
}

.navigation .link {
    color:white;
}

.navigation .link-active {
    font-weight:bold;

}

.header {
    padding:2rem;
    padding-top:2rem;
}  

.header .header-img{
    max-width:350px;
    margin:auto;
    display: block;
    
}

.header .heading {
    color:var(--dark-gray);
    text-align: center;
}

.header .heading-span{
    color:var(--primary-color);
}

.section {
    padding:2rem;
}

.section h2{
    text-align:center;
}

.ow{
    background-color: var(--off-white);
}

.footer {
    background-color: var(--primary-color);
    color: white;
    text-align: center;
    padding:2rem 1rem;
    border-top-right-radius: 1rem;;
}

.footer-header{

    font-size: large;
    font-weight:bold;
}

.footer .link {
    color: white;
}

.footer ul{
    padding-inline-start: 0rem;
}

